@import "./index.scss";

.About {

  .about-title {
    @include screen-is(lg) {
      margin: 2rem 0rem;
    }
  }

  .the-about {
    margin: 2rem auto;
    color: var(--text-color);

    @include screen-is(lg) {
      width: 70%;
    }

    h2 {
      padding: 1rem 0rem;
    }
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  @include screen-is(lg) {
    width: 70%;
    margin: 0rem auto 0rem auto;
  }

  .swiper-wrapper {
    height: 100%;
    display: flex;

    .swiper-slide {
      height: auto;
      flex-shrink: 0;
      display: flex;
      flex-flow: column nowrap;

      @include screen-is(lg) {
        justify-content: space-between;
      }
      h2 {
        color: var(--text-color);
        padding: 1rem 0rem 0rem 0rem;

        @include screen-is(lg) {
          padding: 0rem 0rem 1.5rem 0rem;
        }
      }

      img {
        display: none;

        @include screen-is(lg) {
          display: block;
          position: relative;
          bottom: calc(1rem + 8px + 52px); //padding, border and height of swiper navigation
          width: 10rem;
          transform: translateX(35%) rotate(-15deg);
          margin: 0rem auto;
        }
      }
    }
  }
  .swiper-navigation {
    width: calc(2 * 50px);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    padding: .5rem .75rem;

    @include screen-is(lg) {
      bottom: -4px;
      border: 4px solid var(--border-color);
      background-color: var(--highlight-color);
    }

    & > div {
      cursor: pointer;

      svg {
        fill: var(--border-color);

        @include screen-is(lg) {
          fill: var(--text-color);
        }
      }
    }
  }
}

@keyframes spaceship {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}