@import "./index.scss";

.About {
  h1 {
    color: $blue-green;

    span {
      color: $green;
    }
  }
  h1::first-letter {
    color: $green;
  }
  .the-about {
    margin: 2rem 0px;
    img {
      height: auto;
      width: 50%;
    }
    .paragraph-border {
      border: 2px solid $green;
      border-top: 2px solid transparent;
      p {
        padding: 3rem 2rem;
        color: $blue-green;
        margin: 1rem;
        border: 2px solid $green
      }
      p::first-letter{
        color: $green;
        float: left;
        font-family: "old-news";
        font-size: 85px;
        padding-right: 10px;
        padding-left: 3px;
      }
    }
  }
  .arrow {
    width: 50px;
  }
}