@import "./index.scss";

.About {
  .the-about {
    margin: 2rem 0px;
    img {
      height: auto;
      width: 50%;
    }
    .paragraph-border {
      p {
        color: $old-blue;
      }
      p::first-letter{
        color: $old-orange;
        float: left;
        font-family: "old-news";
        font-size: 85px;
        padding-right: 10px;
        padding-left: 3px;
      }
    }
  }
  .arrow {
    width: 50px;
  }
}