@import "./index.scss";

.Footer {
  display: flex;
  flex-flow: column nowrap;

  .contact-title {
    color: var(--heading-color);
    
    @include screen-is(lg) {
      font-size: 85px;
      margin: 2rem 0rem;
    }
  }

  .contact-info {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    margin: 2rem auto;

    @include screen-is(md) {
      // width: 70%;
    }

    a {
      color: var(--text-color);
      padding: 1rem 0rem;
    }

    a::after {
      content: "";
      display: block;
      position: relative;
      top: 4px;
      width: 0%;
      margin: 0rem auto;
      height: 4px;
      background-color: var(--text-color);
      transition: .2s ease;
    }
    a:hover::after {
      width: 100%;
    }
  }
}
