@import "./index.scss";

.contact-info {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;

  @include screen-is(md) {
    width: 60%;
  }
  
  .contact-link-container {
    display: grid;
    grid-template-columns: 35px 1fr;
    gap: 10px;
    margin-top: 10px;
    transition: all .2s ease;

    .contact-link {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: var(--color2);
      transition: all .2s ease;

      @include screen-is(md) {
        margin-right: 15px;
      }

      .contact-link-icon {
        width: 20px;
      }
    }

    h3 {
      align-self: center;
    }
  }

  .contact-link-container:hover {
    .contact-link {
      transform: translateX(10px);
    }
  }
}