@import "./index.scss";

.Header {
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin-top: 81.5px; //The height of the navigation
  height: calc(100vh - 81.5px - 2rem);

  h1 {
    color: $green;
  }
}
