@import "./index.scss";

.Header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: calc(100vw - 2rem);
  // height: calc(100vh - 67px);

  @include screen-is(lg) {
    width: 100%;
  }

  .firstname, .lastname {
    animation: "name" 0.3s ease-in;
    animation-iteration-count: 1;
  }

  .value {
    text-align: center;
  }

  .stand, .value {
    color: $white;
  }
   
  .values-slides {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 325px;
    height: 318px;
    margin: 0px auto;

    @include screen-is(md) {
      height: 450px;
    }

    @include screen-is(lg) {
      width: 80%;
      height: 563px;
    }

    @include screen-is(xl) {
      margin: 5rem auto 0px auto;
    }

    .value {
      position: absolute;
      opacity: 0;
      transition: opacity 0.3s;
      margin: 1rem 0px;
      margin: 0px auto;
    }
    .value:first-of-type {
      transition-delay: 1s;
    }
    .values-showing {
      opacity: 1;
    }
  }
  .figure-eyes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: auto;
    position: relative;
    bottom: 260px;
    margin: 0px auto;

    @include screen-is(md) {
      bottom: 380px;
    }

    @include screen-is(lg) {
      bottom: 485px;
    }

    span {
      display: block;
      background-color: $white;
      width: 19px;
      height: 19px;
      border-radius: 50%;
      animation: "eye-blinking" 6s infinite;

      @include screen-is(md) {
        width: 26px;
        height: 26px;
      }

      @include screen-is(lg) {
        width: 34px;
        height: 34px;
      }
    }
    span:first-of-type {
      margin: 0px 1rem 0px -0.5rem;

      @include screen-is(md) {
        margin: 0px 1.5rem 0px -0.75rem;
      }

      @include screen-is(lg) {
        margin: 0px 2rem 0px -1rem;
      }
    }
  }

  img {
    height: 256px;
    margin: 2rem 0px 0.5rem 0px;

    @include screen-is(md) {
      height: 356px;
    }

    @include screen-is(lg) {
      height: 456px;
    }
  }

  h2 {
    text-transform: uppercase;
  }
}