@import "./index.scss";

.App {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100vh 1fr;
  background-color: var(--background-color);

  @include screen-is(lg) {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100vh 1fr;
    justify-content: center;
  }
}
.App > .section {
  position: relative;
  z-index: 1;
}
.star-container {
  position: fixed;
  z-index: 0;
}
.star {
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--stars);
  filter: blur(.5px);
}