@import "./index.scss";

.App {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80px 1fr 14px 1fr 1fr 1fr 14px 130px;

  .double-border {
    width: 100%;
    height: auto;
    
    span {
      display: block;
      background-color: $green;
      width: 100%;
      height: 2px;
      margin: 0.2rem 0px 0px 0px;
    }
  }
}