// Colors
$grey: #3e3548;
$dark-grey: #2C2633;
// $poison-green: #b9d74c;
// $poison-green: #72a108;
$white: #fcf8eb;
$red: #ea5330;
$poison-green: #31EBA8;
$dark-green: #029E66;

$light-red: #FF6F4F;
$blue: #2E54B3; //#2760F2; 
$yellow: #FFD449;

//Screen widths
$breakpoints: (
  "sm": 0, //Phone
  "md": 768px, //Tablet
  "lg": 1280px, //Laptop
  "xl": 2020px //Monitor
);

//Formula for breakpoint
@mixin screen-is($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

//Fonts
@font-face {
  font-family: "old-news";
  src: url('./assets/Mono-Medium.ttf');
}
@font-face {
  font-family: "ibm";
  src: url('./assets/IBMPlexSans-Regular.ttf');
}
@font-face {
  font-family: "bangers";
  src: url('./assets/Bangers-Regular.ttf');
}

//Styles
body {
  margin: 0;

  @include screen-is(lg) {
    overflow-x: hidden;
  }
}
h1 {
  font-family: "bangers";
  font-size: 50px;

  @include screen-is(lg) {
    font-size: 45px;
  }

  @include screen-is(xl) {
    font-size: 65px;
  }
}

h2 {
  font-family: "old-news";
  font-size: 20px;
  font-weight: normal;

  @include screen-is(md) {
    font-size: 30px;
  }

  @include screen-is(lg) {
    font-size: 30px;
  }

  @include screen-is(xl) {
    font-size: 45px;
  }
}
p {
  font-family: "ibm";
  font-size: 16px;
  line-height: 1.4rem;

  @include screen-is(lg) {
    font-size: 20px;
    line-height: 1.6rem;
  }

  @include screen-is(xl) {
    font-size: 24px;
  }
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style-type: none;
  li {
    font-family: "old-news";
    font-size: 25px;
    
    @include screen-is(lg) {
      font-size: 30px;
    }
  }
}
.section {
  padding: 0rem;
}
.Header, .About, .Skills, .Projects {

  h1 {
    color: $light-red;
    font-weight: normal;

    @include screen-is(md) {
      text-align: center;
    }
  }
}
.Header, .About, .Projects, .Footer {
  height: calc(100vh - 2rem - 4px);

  @include screen-is(lg) {
    height: calc(100vh - 5rem);
  }
}
.Projects, .About, .Footer {
  padding: 1rem;
  border-top: 4px solid #000;

  @include screen-is(lg) {
    padding: 0rem;
    border: 4px solid #000;
    margin: 2.5rem;
  }
}
.Projects {
  background-color: #102966;
}
.About {
  background-color: #2760F2;
}
.Footer {
  background-color: #427DFF;

  @include screen-is(lg) {
    height: calc(100vh - 5rem - 8px);
    text-align: center;
  }
}
// .section-line, .line-footer {
//   background-color: $red;
//   width: 100%;
//   position: sticky;
//   height: 2px;
//   z-index: 3;
// }
// .line-header {
//   top: 71px;

//   @include screen-is(lg) {
//     top: 100px;
//     // top: 167px;
//   }
// }
// .line-about {
//   top: 89px;

//   @include screen-is(lg) {
//     top: 185px;
//   }
// }
// .line-skills {
//   top: 83px;

//   @include screen-is(lg) {
//     top: 179px;
//   }
// }
// .line-projects {
//   top: 77px;

//   @include screen-is(lg) {
//     top: 173px;
//   }
// }
// .line-inbetween {
//   display: block;
//   background-color: $white;
//   height: 2px;
//   width: 100%;
// }

//Visibilities for the different breakpoints
.sm-visible {
  display: block;

  @include screen-is(md) {
    display: none;
  }

  @include screen-is(lg) {
    display: none;
  }
}
.md-visible {
  display: none;

  @include screen-is(md) {
    display: block;
  }

  @include screen-is(lg) {
    display: none;
  }
}
.lg-visible {
  display: none;

  @include screen-is(md) {
    display: none;
  }

  @include screen-is(lg) {
    display: block;
  }
}

//Animations
@keyframes eye-blinking {
  0% {
    transform: scale(1, .05);
  }
  5% {
    transform: scale(1, 1);
  }
  95% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, .05);
  }
}
@keyframes name {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}