// body {
//   margin: 0;
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
//     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
//     sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }

$old-blue: #2a3141;
$old-orange: #ff9928;
$old-pink: #f8333c;
$old-yellow: #f8f4b7;
$old-green: #468374;

$grey: #3e3548;
$light-green: #b9d74c;
$apple-green: #72a108;
$white: #fcf8eb;
$red: #ea5330;



@font-face {
  font-family: "old-news";
  src: url('./assets/Oranienbaum-Regular.ttf');
}
@font-face {
  font-family: "ibm";
  src: url('./assets/IBMPlexSans-Regular.ttf');
}
body {
  margin: 0;
  margin-top: 67px;
}
h1 {
  font-family: "old-news";
  font-size: 45px;
  text-transform: uppercase;

}
h2, h3 {
  font-family: "old-news";
  font-size: 25px;
  font-weight: bold;
}
p {
  font-family: "ibm";
  font-size: 16px;
  line-height: 1.4rem;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style-type: none;
  li {
    font-family: "old-news";
    font-size: 40px;
  }
}
.section {
  padding: 1rem;
}
.Header, .About, .Skills, .Projects {
  h1 {
    color: $light-green;
    font-weight: bold;

    span {
      color: $apple-green;
    }
  }
}
.section-line, .line-footer {
  background-color: $red;
  width: 100%;
  position: sticky;
  height: 2px;
  z-index: 5;
}
.line-header {
  top: 71px;
}
.line-about {
  top: 77px;
}
.line-skills {
  top: 83px;
}
.line-projects {
  top: 89px;
}
.line-inbetween {
  display: block;
  background-color: $white;
  height: 2px;
  width: 100%;
}
.next-arrow {
  display: none;
  flex-flow: row nowrap;
  justify-content: flex-end;
  h2 {
    text-transform: uppercase;
    color: $old-pink;
  }
  img {
    width: 20px;
    height: auto;
  }
}

//Animations
@keyframes eye-blinking {
  0% {
    transform: scale(1, .05);
  }
  5% {
    transform: scale(1, 1);
  }
  95% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, .05);
  }
}