// Colors
$old-blue: #2a3141;
$old-orange: #ff9928;
$old-pink: #f8333c;
$old-yellow: #f8f4b7;
$old-green: #468374;

$grey: #3e3548;
$light-green: #b9d74c;
$apple-green: #72a108;
$white: #fcf8eb;
$red: #ea5330;

//Screen widths
$breakpoints: (
  "sm": 0, //Phone
  "md": 768px, //Tablet
  "lg": 1280px, //Laptop
  "xl": 1920px //Monitor
);

@mixin screen-is($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@font-face {
  font-family: "old-news";
  src: url('./assets/Oranienbaum-Regular.ttf');
}
@font-face {
  font-family: "ibm";
  src: url('./assets/IBMPlexSans-Regular.ttf');
}
body {
  margin: 0;
  margin-top: 67px;

  @include screen-is(lg) {
    margin-top: 0px;
    overflow-x: hidden;
  }
}
h1 {
  font-family: "old-news";
  font-size: 45px;
  text-transform: uppercase;

  @include screen-is(lg) {
    font-size: 60px;
  }
}

h2, h3 {
  font-family: "old-news";
  font-size: 25px;
  font-weight: bold;

  @include screen-is(lg) {
    font-size: 45px;
  }
}
p {
  font-family: "ibm";
  font-size: 16px;
  line-height: 1.4rem;

  @include screen-is(lg) {
    font-size: 20px;
    line-height: 1.6rem;
  }
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style-type: none;
  li {
    font-family: "old-news";
    font-size: 40px;
    
    @include screen-is(lg) {
      font-size: 55px;
    }
  }
}
.section {
  padding: 1rem;

  @include screen-is(lg) {
    padding: 3rem 1rem;
  }
}
.Header, .About, .Skills, .Projects {
  h1 {
    color: $light-green;
    font-weight: bold;

    @include screen-is(lg) {
     text-align: center;
    }

    span {
      color: $apple-green;
    }
  }
}
.section-line, .line-footer {
  background-color: $red;
  width: 100%;
  position: sticky;
  height: 2px;
  z-index: 5;
}
.line-header {
  top: 71px;
  @include screen-is(lg) {
    top: 167px;
  }
}
.line-about {
  top: 77px;
  @include screen-is(lg) {
    top: 173px;
  }
}
.line-skills {
  top: 83px;
  @include screen-is(lg) {
    top: 179px;
  }
}
.line-projects {
  top: 89px;
  @include screen-is(lg) {
    top: 185px;
  }
}
.line-inbetween {
  display: block;
  background-color: $white;
  height: 2px;
  width: 100%;
}
.sm-visible {
  display: block;

  @include screen-is(lg) {
    display: none;
  }
}
.lg-visible {
  display: none;

  @include screen-is(lg) {
    display: block;
  }
}

//Animations
@keyframes eye-blinking {
  0% {
    transform: scale(1, .05);
  }
  5% {
    transform: scale(1, 1);
  }
  95% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, .05);
  }
}