@import "./index.scss";

.nav-menu-bar {
  width: 100vw;
  // display: flex;
  // flex-flow: column wrap;
  justify-content: space-between;
  position: fixed;
  top: 0;
  height: 67px;
  background-color: $red;
  // box-shadow: 0px 2px 2px 1px rgba(21, 84, 87, .3);
  z-index: 4;

  @include screen-is(lg) {
    top: 100px;
    background-color: $grey;
    width: 80%;
  }

  .nav-lines {
    width: 100vw;

    span {
      display: block;
      background-color: $red;
      width: 100%;
      height: 1px;
    }
  }

  .nav-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: calc(50% + 33.5px); //Half of the screen width + half of the nav-menu so it's in the middle.
    height: 67px;

    @include screen-is(lg) {
      width: 100%;
      justify-content: center;
    }

    h2 {
      color: $white;
      text-transform: capitalize;
      font-size: 35px;
      margin: auto 0px auto 1rem;

      @include screen-is(lg) {
        font-size: 40px;
      }
    }
    div {
      .nav-menu {
        padding: 1rem;
        width: 35px;
        height: 35px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: $white;
        // box-shadow: 0px 2px 2px 3px rgba(21, 84, 87, .3);
    
        span {
          display: block;
          width: 35px;
          height: 2px;
          background-color: $grey;
        }
      }
      @include screen-is(lg) {
        display: none;
      }
      &.open {
        span:first-of-type {
          transform: rotate(0deg);
          transition: 0.1s ease-out;
          transition-delay: 0.1s;
        }
        span:nth-of-type(2) {
          opacity: 1;
          transition: 0.1s ease-out;
          transition-delay: 0.2s;
        }
        span:last-of-type {
          transform: rotate(0deg);
          transition: 0.1s ease-out ;
          transition-delay: 0s;
        }
      }
      &.close {
        span:first-of-type {
          transform: rotate(-45deg) translate(-8px, 6px);
          transition: 0.1s ease-out;
          transition-delay: 0.1s;
        }
        span:nth-of-type(2) {
          opacity: 0;
          transition: 0.1s ease-out;
          transition-delay: 0s;
        }
        span:last-of-type {
          transform: rotate(45deg) translate(-10px, -8px);
          transition: 0.1s ease-out;
          transition-delay: 0.2s;
        }
      }
    }
  }
  img {
    width: auto;
    height: 60px;
    position: absolute;
    right: 1rem;
    top: 7px; //Navbar has a fixed height of 67px, img also has a fixed heigth of 60px, so from the top 7px.
    
    @include screen-is(lg) {
      display: none;
    }
  }
  .tiny-eyes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 51.8px; //Same as the never changing img
    position: absolute;
    right: 1rem;
    top: 21px;

    span {
      display: block;
      background-color: $white;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      animation: "eye-blinking" 6s infinite;
      animation-delay: 2s;
    }
    span:first-of-type {
      margin: 0px 0.5rem 0px 0px;
    }
  }
}
.nav-items {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: flex-end;
  height: 100vh;
  position: fixed;
  z-index: 2;
  bottom: calc(-100vh - 60px - 4rem);
  transition: bottom 0.5s ease-out;
  transition-delay: 0.2s;
  background-color: $red;
  padding: 1rem;

  a::after {
    content: "";
    display: block;
    position: relative;
    top: -4px;
    width: calc(50% - 1rem); //for bigger screens this will be different
    height: 2px;
    background-color: $light-green;
    transition: .2s ease;
  }
  a:hover::after {
    width: calc(100% - 2rem);
    background-color: $white;
  }

  div {
    margin: 1rem 0px;
    h1 {
      color: $grey;
      padding: 0px 1rem 0.5rem 0px;
      text-transform: capitalize;
      width: 80%;
    }
    h1:hover {
      color: $white;
      transition: .2s ease;
    }
  
  }
  &.open {
    bottom: 0;
  } //Use the same for the contact overlay.
}
@include screen-is(sm) {
  .nav-items-lg {
    display: none;
  }
}
@include screen-is(lg) {
  .nav-items-lg {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    width: 80vw;
    position: fixed;
    z-index: 4;
    top: 0px;
    left: 10vw;
    background-color: $red;

    a::after {
      content: "";
      display: block;
      position: relative;
      top: 4px;
      width: 60%;
      height: 2px;
      background-color: $light-green;
      transition: .2s ease;
    }
    a:hover::after {
      width: 100%;
      background-color: $white;
    }

    div {
      width: calc(100% / 5);
      padding: 0px 1rem;
      h1 {
        color: $grey;
        font-size: 45px;
        text-transform: capitalize;
        font-weight: bold;
      }
      h1:hover {
        color: $white;
        transition: .2s ease;
      }
    }
  }
}