@import "./index.scss";

.navigation {

  .nav-buttons-container {
    position: fixed;
    z-index: 999;
    display: flex;
    flex-flow: column;
    top: 20px;
    left: 10px;

    @include screen-is(tablet) {
      top: 20px;
      left: calc(70px + 30px + 20px);
      flex-flow: row;
    }

    @include screen-is(md) {
      top: 20px;
      left: calc(100px + 30px + 20px);
      flex-flow: row;
    }
  }

  .nav-switches-container {
    position: fixed;
    z-index: 998;
    display: flex;
    flex-direction: column;
    right: 10px;
    top: 20px;

    @include screen-is(tablet) {
      flex-flow: row;
      right: 0;
      left: 70px;
    }

    @include screen-is(md) {
      flex-flow: row;
      right: 0;
      left: 100px;
    }

    .switch-language, .switch-theme {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: all .2s ease;
    }

    @include screen-is(tablet) {
      .switch-language:hover, .switch-theme:hover {
        transform: scale(1.2); 
        cursor: pointer;
      }
    }
  
    @include screen-is(md) {
      .switch-language:hover, .switch-theme:hover {
        transform: scale(1.2); 
        cursor: pointer;
      }
    }

    .switch-icon {
      width: 15px;
      height: 15px;

      @include screen-is(md) {
        width: 55px;
        height: 55px;
      }
    }

    .language-icon {
      width: 30px;
      height: 30px;
    }

  }

  .nav-button {
    color: var(--text-on-color2);
    display: flex;
    flex-direction: row;
    margin-right: 0px;
    margin-bottom: 5px;
    align-items: center;
    transition: all 0.2s ease;

    @include screen-is(tablet) {
      margin-right: 10px;
    }
  }

  @include screen-is(tablet) {
    .nav-button:hover {
      transform: translateY(-2px); 
      cursor: pointer;
    }
  }

  @include screen-is(md) {
    .nav-button:hover {
      transform: translateY(-2px); 
      cursor: pointer;
    }
  }

  .nav-icon {
    width: 15px;

    @include screen-is(md) {
      width: 35px;
    }
  }
}

