@import "./index.scss";

.Projects {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;

  @include screen-is(lg) {
    .all-the-projects-lg {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }
  }

  @include screen-is(sm) {
    .the-projects-images {
      display: none;
    }
  }
  
  @include screen-is(lg) {
    .the-projects-images {
      display: block;
      width: calc(50% - 5rem);
      height: 342px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
  }

  .the-projects {
    padding: 2rem 0px;

    @include screen-is(lg) {
      padding: 5rem 0px 5rem 5rem;
      width: 50%;
    }
    .project {
      padding: 1rem 0px;

      a::after {
        content: "";
        display: block;
        position: relative;
        top: -4px;
        width: 50%;
        height: 2px;
        background-color: $light-green;
        transition: .2s ease;
        
        @include screen-is(lg) {
          width: 20%;
          // margin: 0px auto;
        }
      }
      a:hover::after {
        width: 100%;
        background-color: $white;
      }

      h2 {
        color: $white;
        font-weight: bold;
        font-size: 30px;
        padding: 0.5rem 0px;

        @include screen-is(lg) {
          font-size: 40px;
        }
      }
      p {
        color: $light-green;
        padding: 0px 0px 0.5rem 0px;
      }
    }
  }
}