@import "./index.scss";

.Projects {
  width: calc(100% - 1px);
  margin-left: 1px;
  display: flex;
  flex-flow: column-reverse nowrap;

  @include screen-is(md) {
    display: flex;
    flex-flow: row nowrap;
  }

  .project {
    width: 100%;

    @include screen-is(md) {
      width: 75%;
    }
  }

  .projects-list {
    width: 100%;
    text-align: left;

    @include screen-is(md) {
      width: 20%;
      text-align: center;
      margin-left: 5%;
    }

    li::after {
      content: "";
      display: block;
      position: relative;
      top: 4px;
      width: 20%;
      height: 2px;
      background-color: $white;
      transition: .2s ease;

      @include screen-is(md) {
        margin: 0px auto;
      }
    }
    li:hover::after {
      width: 100%;
    }
  }
  .projects-list > * {
    background-color: $light-red;
    margin: 0rem 0rem 1.25rem 0rem;
    padding: 1.25rem;
    color: $grey;
    cursor: pointer;
    transition: all 0.2s ease;

    @include screen-is(md) {
      margin: 0rem 0rem 2.5rem 0rem;
      padding: 2.5rem;
    }
  }
  .projects-list > *:hover {
    background-color: $red;
  }

  .projects-about {
    padding: 5rem 0rem;

    h2:first-of-type {
      text-decoration: underline;
      padding-bottom: 2.5rem;
    }
  }
  .projects-about > h2, a {
    color: $white;
  }

  .projects-technologies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.25rem;

    @include screen-is(md) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      gap: 2.5rem;
    }
  }
  .projects-technologies > * {
    background-color: $poison-green;
    width: auto;
    padding: 1.25rem;
    color: $grey;

    @include screen-is(md) {
      margin: 0rem;
      padding: 2.5rem;
    }
  }
  .projects-technologies > h2:nth-of-type(3), h2:last-of-type {
    grid-column: span 2;

    @include screen-is(md) {
      grid-column: span 1;
    }
  }
  .projects-technologies > a {
    background-color: $dark-green;
    text-decoration: underline;
  }
  .projects-technologies > a:hover {
    background-color: $white;
  }
  .line-projects {
    width: 100%;
    height: 2px;
    z-index: 3;
    background-color: $dark-green;
  }
}
// .Projects {
//   display: flex;
//   flex-flow: column wrap;
//   justify-content: space-between;

//   @include screen-is(lg) {
//     .all-the-projects-lg {
//       // display: flex;
//       // flex-flow: row nowrap;
//       // align-items: center;
//       // padding: 5rem 0px;
//     }
//   }

//   @include screen-is(sm) {
//     .the-projects-images {
//       display: none;
//     }
//   }
  
//   @include screen-is(lg) {
//     .the-projects-images {
//       display: flex;
//       flex-flow: column nowrap;
//       justify-content: center;
//       width: calc(60% - 5rem);
//       height: calc(624.4px - 3rem);

//       img {
//         width: 100%;  
//       }
//     }
//   }

//   .the-projects {
//     margin: 2rem 0px;

//     @include screen-is(md) {
//       text-align: center;
//     }

//     @include screen-is(lg) {
//       padding: 0px 0px 0px 5rem;
//       // width: 40%;
//       text-align: left;
//     }

//     // .project {
//     //   padding: 1rem 0px;

//       // a::after {
//       //   content: "";
//       //   display: block;
//       //   position: relative;
//       //   top: -4px;
//       //   width: 50%;
//       //   height: 2px;
//       //   background-color: $poison-green;
//       //   transition: .2s ease;
        
//       //   @include screen-is(md) {
//       //     width: 20%;
//       //     margin: 0px auto;
//       //   }
        
//       //   @include screen-is(lg) {
//       //     width: 40%;
//       //     margin: 0px;
//       //   }
//       // }
//       // a:hover::after {
//       //   width: 100%;
//       //   background-color: $white;
//       // }

//       // h2 {
//       //   color: $white;
//       //   font-weight: normal;
//       //   padding: 0.5rem 0px;
//       // }
//       // p {
//       //   color: $poison-green;
//       //   padding: 0px 0px 0.5rem 0px;
//       // }
//       // div {
//       //   display: grid;
//       //   grid-template-columns: repeat(2, 1fr);
//       //   background-color: $red;
//       // }
//     // }
//   }
// }