@import "./index.scss";

.Skills {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  
  .the-skills {
    display: flex;
    flex-flow: column wrap;
    text-align: left;
    height: 500px;
    justify-content: space-evenly;

    h2 {
      color: $old-blue;
    }
  }
}