@import "./index.scss";

.Skills {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;

  .the-skills {
    margin: 3rem 0px;
  }
  .the-skills > * {
    background-color: $old-orange;
    color: $old-blue;
    padding: 1rem;
    width: calc(55% - 2rem);
  }
  .skills-two {
    background-color: #2a3141cc;
    color: $old-orange;
    transform: translateX(calc(100% - 2rem));
    text-align: right;
    margin: -2rem 0px;
  }
}