@import "./index.scss";

.Skills {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;

  .the-skills {
    margin: 2rem 0px;

    @include screen-is(md) {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: repeat(3, 1fr);
      margin: 3rem 0px;
    }

    @include screen-is(lg) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 100%;
      margin: 5rem 0px;
    }

    .all-skills-stuff {
      display: flex;
      flex-flow: row nowrap;
      width: 100%;

      @include screen-is(md) {
        flex-flow: column wrap;
        align-items: center;
      }

      @include screen-is(lg) {
        flex-flow: column wrap;
        align-items: center;
      }

      .skills-description {
        width: calc(50% - 0.5rem);
        margin: auto 0.5rem auto 0px;

        @include screen-is(md) {
          margin: auto;
          text-align: center;
        }

        @include screen-is(lg) {
          margin: auto;
          text-align: center;
        }

        p {
          color: $light-green;
          text-transform: capitalize;
        }
      }
    }

    .skills-slides {
      position: relative;
      height: calc(107px - 2rem);
      padding: auto 0px;
      margin: 0px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      width: 50%;

      @include screen-is(md) {
        width: 100%;
        align-items: center;
      }

      @include screen-is(lg) {
        width: 100%;
        align-items: center;
      }

      .slide {
        position: absolute;
        opacity: 0;
        transition: opacity 0.3s;
  
      }
      .skills-showing {
        opacity: 1;
      }
    }
  }
  .the-skills > * {
    color: $white;
    padding: 1rem 0px;
    width: calc(55% - 2rem);
  }
}